<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Phoenix Share">
    <meta name="author" content="Pheonix">
    <link rel="icon" href="https://media.discordapp.net/attachments/1118813311308419162/1155386726102089778/6ac8a6c0-15be-4ab2-8a5e-63e411a68267.jpg">
    <link href="
https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/tailwind.min.css
" rel="stylesheet">
    <title>Phoenix Share - Login</title>
    <style>
        body {
            background-color: #121212;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 20px;
        }

        .logo {
            max-width: 100px;
            height: auto;
        }

        h1 {
            font-size: 36px;
            margin: 20px 0;
            color: #fff;
        }

        .form-container {
            width: 90%;
            max-width: 320px;
            padding: 30px;
            background-color: #1e1e1e;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            margin-top: 15px;
            border: 2px solid #4a90e2;
            border-radius: 8px;
            background-color: #1e1e1e;
            color: #fff;
        }

        .login-button {
            background-color: #4a90e2;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 15px 30px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;
        }

        .login-button:hover {
            background-color: #357abd;
        }

        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #ccc;
        }
    </style>
</head>
<body>
<div class="container">
    <img class="logo" src="https://media.discordapp.net/attachments/1118813311308419162/1155386725850419242/6ac8a6c0-15be-4ab2-8a5e-63e411a68267-removebg-preview.png" alt="Logo">
    <h1>Phoenix Share</h1>
    <div class="form-container">
        <form id="loginForm" action="/login" method="POST">
            <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
            <button type="submit" class="login-button">
                Login
            </button>
        </form>
    </div>
    <div class="footer">
        Don't have an account? <a href="/create-account" class="text-blue-500">Register now</a>
    </div>
</div>
</body>
</html>
