<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Phoenix Share">
    <meta name="author" content="Pheonix">
    <link rel="icon" href="/icons/logo.jpeg">
    <link href="
https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/tailwind.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="manifest" href="/manifest.json">
    <title>Phoenix Share - Login</title>
</head>
<body>
<div class="container">
    <img class="logo" src="/icons/logo_trans.png" alt="Logo">
    <h1>Phoenix Share</h1>
    <div class="form-container">
        <form id="loginForm" action="/login" method="POST">
            <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
            <button type="submit" class="login-button">
                Login
            </button>
        </form>
    </div>
    <div class="footer">
        Don't have an account? <a href="/create-account" class="text-blue-500">Register now</a>
    </div>
  <p id="Error" style="color: red;"></p>
</div>
  <script src="/scripts/login.js"></script>
</body>
</html>
