        body {
            background-color: #121212;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 20px;
        }

        .logo {
            max-width: 150px;
            height: auto;
        }

        h1 {
            font-size: 36px;
            margin: 20px 0;
            color: #fff;
        }

        .download-container {
            width: 90%;
            max-width: 320px;
            padding: 30px;
            background-color: #1e1e1e;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
            text-align: center;
        }

        .download-button {
            background-color: #4a90e2;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 15px 30px;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;
            display: block;
            width: 75%; /* Make the button full width */
        }

        .download-button:hover {
            background-color: #357abd;
        }

        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #fff;
       } 
      p {
        color: #fff;
      }
      h2 {
        font-size: 20px;
        color: #3366CC
     } 