<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your files like never before with Phoenix Share. Phoenix Share is an open source file sharing platform that combines the simplicity of Express.js with the blazing speed and security of a phoenix">
    <meta name="author" content="Pheonix">
  <meta property="og:title" content="Phoenix Share">
  <meta property="og:description" content="Share your files like never before with Phoenix Share. Phoenix Share is an open source file sharing platform that combines the simplicity of Express.js with the blazing speed and security of a phoenix">
  <meta property="og:image" content="/graphics/banner.png">
    <link rel="icon" href="/graphics/logo.jpeg">
    <link href="
https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/tailwind.min.css
" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/styles/create-account.css">
   <link rel="manifest" href="/manifest.json">
    <title>Phoenix Share - Register</title>
</head>
<body>
<div class="container">
    <img class="logo" src="/graphics/logo_trans.png" alt="Logo">
    <h1>Phoenix Share</h1>
    <div class="form-container">
        <form id="loginForm" action="/create-account" method="POST">
            <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
            <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
            <div class="passwordToggle-container">
    <a id="passwordToggle" class="passwordToggle">Show Password</a>
            </div>
<br>
<br>
        <input class="form-check-input" type="checkbox" value="" id="tosPpCheck" required>
                <label class="pptos" for="tosPpCheck">
    I agree to Phoenix Share <a href="">Terms & Service</a> and <a href="">Privacy Policy</a>
</label>
            <button type="submit" class="login-button">
             <i class="bi bi-person-add"></i> Create Account
            </button>
        </form>
    </div>
    <div class="footer">
        Already have an account? <a href="/" class="text-blue-500">Login now</a>
    </div>
  <p id="Error" style="color: red;"></p> 
</div>
  <script src="/scripts/create-account.js"></script>
</body>
</html>
