<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your files like never before with Phoenix Share. Phoenix Share is an open source file sharing platform that combines the simplicity of Express.js with the blazing speed and security of a phoenix">
    <meta name="author" content="Pheonix">
    <meta property="og:title" content="Phoenix Share">
  <meta property="og:description" content="Share your files like never before with Phoenix Share. Phoenix Share is an open source file sharing platform that combines the simplicity of Express.js with the blazing speed and security of a phoenix">
  <meta property="og:image" content="/graphics/banner.png">
    <link rel="icon" href="/graphics/logo.jpeg">
    <link href="
https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/tailwind.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
   <link rel="stylesheet" href="/styles/upload.css">
   <link rel="manifest" href="/manifest.json">
    <title>Phoenix Share</title>
</head>
<body>
<div class="container">
    <img class="logo" src="/graphics/logo_trans.png" alt="Logo">
    <h1>Phoenix Share</h1>
    <div class="form-container">
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" style="display: none;">
            <label for="fileInput" class="upload-button">
<i class="bi bi-file-earmark-plus-fill"></i> Choose File
            </label>
            <div id="dragDropArea">
<i class="bi bi-send-arrow-up-fill"></i> Drag and Drop Files Here
            </div>
            <button type="submit" class="upload-button">
<i class="bi bi-cloud-arrow-up-fill"></i> Upload
            </button>
            <div class="footer">
<i class="bi bi-lock-fill"></i> Secured With Encryption
            </div>
        </form>
    <h2 id="downloadLink">Uploaded file will be displayed here.</h2>
</div>
</div>
<script src="/scripts/upload.js"></script>
</body>
</html>
